{% extends 'shared.html'%}
{% load static %}

{% block title%}
English Dictionary
{% endblock%}

{% block css_file%}
    <link rel="stylesheet" href="{% static 'css/dict.css' %}">
{% endblock%}

{% block body%}
    
    <div class="container">
        
        <h1>English Dictionary</h1>
        <form action="word" method="GET">
            <input type="text" name="search" placeholder="Enter a word..." required>
            <button type="submit">Search</button>
        </form>

        <div class="perdict">
            <a href="{% url 'personal-dictionary' %}"><button>Personal Dictionary</button></a>
            <a href="{% url  'logout' %}" ><button class="logout" type="submit">Logout</button></a>
        </div>
    </div>
{% endblock%}