{% extends 'shared.html'%}
{% load static %}

{% block title%}
Personal Dictionary
{% endblock%}

{% block css_file%}
    <link rel="stylesheet" href="{% static 'css/perdict.css' %}">
{% endblock%}

{% block body%}
    <div class="container">
        <h1>Personal Dictionary</h1>
        <ul>
            {% for word_info in word_data %}
                <li>
                    <span>Word: {{ word_info.word }}</span>
                    <span>Meaning: {{ word_info.meanings.0|default:"No meaning found" }}</span>
                    
                    <span>Synonyms: 
                        {% for synonym in word_info.synonyms|slice:":2" %}
                            {{ synonym }},
                        {% endfor %}
                    </span>
                    
                    <span>Antonyms: 
                        {% for antonym in word_info.antonyms|slice:":2" %}
                            {{ antonym }},
                        {% endfor %}
                    </span>
                    
                    <div class="word-actions">
                        <a href="word?search={{ word_info.word }}"><button>View</button></a>
                        
                        <a href="personal-dictionary/delete/{{word_info.pk}}"><button>Delete</button></a>
                        


                    </div>
                </li>
            {% endfor %}
        </ul>
        
        
    </div>
    

{% endblock%}